# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.sqlite3

# Environment variables
.env

# Django migrations
*/migrations/*

# Ignore all migrations except __init__.py
!*/migrations/__init__.py

# IDE specific
.vscode/
.idea/

# Other
.DS_Store